@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-fluid {
    @apply container max-w-screen-xl;
  }

  .title {
    @apply text-xl font-bold tracking-tight lg:text-4xl;
  }

  .title-sm {
    @apply text-lg font-semibold tracking-tight lg:text-2xl;
  }

  .padding-top {
    @apply pt-20 lg:pt-36;
  }

  .desc {
    @apply text-lg font-normal text-gray-500 lg:text-xl;
  }

  .gradient-text {
    @apply bg-gradient-to-r from-rose-400 via-rose-500 to-orange-400 bg-clip-text font-semibold text-transparent;
  }
  .uppercase {
    text-transform: uppercase;
    font-feature-settings: "case" on;
  }

  .editor-style h2 {
    @apply h3;
  }
}

html {
  scroll-behavior: smooth;
}

.hero-bg {
  z-index: -1;
  background: radial-gradient(
    80% 80% at 0% 0%,
    hsla(343, 81%, 60%, 0.051) 0%,
    hsla(0, 80%, 60%, 0.1) 55.21%,
    rgba(217, 217, 217, 0) 100%
  );
}

.fade-in-out-enter-from,
.fade-in-out-leave-to {
  opacity: 0;
}
.fade-in-out-enter-active,
.fade-in-out-leave-active {
  transition: 0.4s ease-in-out;
}
.fade-in-out-enter-to,
.fade-in-out-leave-from {
  opacity: 1;
}
