@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container-fluid {
    @apply container max-w-screen-xl;
  }

  .title {
    @apply text-2xl font-semibold tracking-tight lg:text-4xl;
  }

  .title-md {
    @apply text-lg tracking-tight lg:text-2xl;
  }

  .title-sm {
    @apply text-base tracking-tight lg:text-lg;
  }

  .desc {
    @apply text-base font-normal text-gray-600 lg:text-lg;
  }

  .link {
    @apply text-blue-600 hover:text-blue-800 hover:underline;
  }

  .padding-top {
    @apply pt-20 lg:pt-32;
  }

  .gradient-text {
    @apply bg-gradient-to-r from-rose-400 via-rose-500 to-orange-400 bg-clip-text font-semibold text-transparent;
  }
  .uppercase {
    text-transform: uppercase;
    font-feature-settings: "case" on;
  }

  .editor {
    @apply text-gray-800 [&_a]:text-blue-600 hover:[&_a]:underline [&_li]:py-1 [&_ul]:ml-5 [&_ul]:list-disc [&_ul]:pl-4 [&_ul]:lg:pl-0;
  }
  .svg-canvas-container {
    @apply absolute left-0 top-0 h-full w-full cursor-crosshair [&_.first-circle]:cursor-pointer;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.router-link-exact-active {
  color: rgb(239 68 68);
}

.hero-bg {
  z-index: -1;
  background: radial-gradient(
    80% 80% at 0% 0%,
    hsla(343, 81%, 60%, 0.051) 0%,
    hsla(0, 80%, 60%, 0.1) 55.21%,
    rgba(217, 217, 217, 0) 100%
  );
}

.fade-in-out-enter-from,
.fade-in-out-leave-to {
  opacity: 0;
}
.fade-in-out-enter-active,
.fade-in-out-leave-active {
  transition: 0.4s ease-in-out;
}
.fade-in-out-enter-to,
.fade-in-out-leave-from {
  opacity: 1;
}

.custom-scroll ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scroll ::-webkit-scrollbar-track {
  border-radius: 99px;
  width: 6px;
  background-color: rgb(244, 244, 244);
  opacity: 0.1;
}

.custom-scroll ::-webkit-scrollbar-thumb {
  background: rgb(164, 163, 163);
  border-radius: 10px;
}
